#container {
    background-image: url('../../../assets/serversBG.png');
    background-size: cover;
    /* Ensure the background image covers the entire container */
    background-position: center;
    /* Center the background image within the container */
    width: 100vw;
    /* Make the width 100% of the viewport width */
    height: 100vh;
    /* Make the height 100% of the viewport height */
}